
.introduction {
    background-color: #E97451;
    padding: 80px;
    height: auto;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

p {
    font-size: 20px;
}

.description-text {
    font-size: 20px;
    justify-content: space-around;
    padding: 80px 110px 80px 110px;
    font-stretch: expanded;
    color: #FFFFFF;
}
