@{
    ViewData["Title"] = "Home Page";
}
<!--link rel="stylesheet" href="~/Template2.styles.css" type="text/css" asp-append-version="true" /-->
<style>

    p {
        font-style: Regular;
        font-size: 20px;
        justify-content: space-around;
        padding: 80px 110px 80px 110px;
        font-stretch: 150%;
        color: #FFFFFF;
    }
    .description-text {
        justify-content: space-around;
        padding: 80px 110px 80px 110px;
        font-stretch: expanded;
        color: #FFFFFF;
    }

    .a-send-information {
        background-color: #FC80A5;
        border-radius: 10px;
        margin: auto;
        text-align: center;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        font-family: Arial;
        font-size: 16px;
    }

    .a-send-information {
        justify-content: flex-start;
    }

    .a-send-information:hover {
            background-color: #FED85D;
        }

    .a-send-information:active {
            background-color: #C9A0DC;
        }

</style>
<div class="introduction">
    <p class="description-text">
        Parenthood is a whirlwind of joy, but it can also be a challenge to keep track of your little one's routine.
        That's where we come in! BabyTimeCalc is here to simplify your life and help you stay organized with our
        intuitive time calculator designed specifically for your baby's needs.
    </p>
        @Html.ActionLink("Regime`s Calculator", "SendInformation", "", new object { }, new { @class = "a-send-information" })
      
</div>



