@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="third_page">
    <div class="third_page_center">
        <div class="select">
            Let’s select preferred schedule
        </div>
        <div class="variants">
            <div class="variant_1">
                <div class="tablesheet">
                </div>
                <button class="button_result_selection">
                    Select
                </button>
            </div>
            <div class="variant_2">
                <div class="tablesheet">

                </div>
                <button class="button_result_selection">
                    Select
                </button>
            </div>
        </div>
    </div>
</div>