
@{
    ViewData["Title"] = "Send";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model EnteringInformationModel;


<!--action="/Home/SendInformation"
id="name" name="name"

id="appt-time" name="appt-time"
link href="Template2.styles.css" asp-append-version="true" type="text/css" rel="stylesheet" /-->


<form asp-controller="home" asp-action="SendInformation" method="post" class="first_information">
        <div class="first_information">
           <div class="first_choice">
            <p class="information">Please, choose your child`s birthday</p>
            <span class="choose_date">
                <input type="date" asp-for="dateBirth" required minlength="8" maxlength="8" size="10" required pattern="\d{4}-\d{2}-\d{2} onfocus="(this.type='date')" min="{}" max="" value="2024-01-01" />
            </span>
             </div>
             <div class="second_choice">
            <p class="information"> Please, select your child`s usual morning wake up time </p>
            <span class="choose_hour_minutes">
                <input type="time" asp-for="timeWakeUp" min="05:00" max="11:00" required value="07:00" />
            </span>
            </div>
            
            <button class="button_result" type="submit">

                Choose your child’s schedule
            </button>
             
        </div>
        </form>
        
