@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="table_result">
    <table>
        <tr>
            <th>Activity</th>
            <th>Time</th>
        </tr>
        <tr>
            <td>Sleep</td>
            <td>22:00 - 7:30</td>
        </tr>
        <tr>
            <td>Morning Routine</td>
            <td>07:30 - 8:00</td>
        </tr>
        <tr>
            <td>Breakfast</td>
            <td>8:00 - 9:00</td>
        </tr>
        <tr>
            <td>Passive Time</td>
            <td>9:00 - 10:30</td>
        </tr>
        <tr>
            <td>Active Time</td>
            <td>10:30 - 12:30</td>
        </tr>
        <tr>
            <td>Dinner</td>
            <td>12:30 - 13:00</td>
        </tr>
        <tr>
            <td>Sleep</td>
            <td>13:00 - 14:30</td>
        </tr>
        <tr>
            <td>Passive time</td>
            <td>14:30 - 15:00</td>
        </tr>
        <tr>
            <td>Lunch</td>
            <td>15:00 - 15:20</td>
        </tr>
        <tr>
            <td>Outdoor Playtime</td>
            <td>15:20 - 16:30</td>
        </tr>
    </table>
</div>

