<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Template2</title>
    <!--link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /-->
    <!--link rel="stylesheet" href="~/css/site.css" type="text/css" asp-append-version="true" /-->
    <link rel="stylesheet" href="~/Template2.styles.css" type="text/css" asp-append-version="true" />
    
    <style>
        .navbar-brand{
            color: #FFFFFF;
            position: center;
            font-family: Regular;
            font-size: 16px;
            text-decoration: none;
        }
       .navbar-brand:hover{
        text-decoration: underline;
       }
    </style>
    <environment include="Development">
        <link href="Template2.styles.css" asp-append-version="true" type="text/css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
   
</head>
<body>
    <header>
        <nav class="navbar">
                <div class="logo-title">
                    <!--asp:Image ID="Image1" runat="server" ImageUrl="~/images/logo_time_for_mom.png" /-->
                    <img src="~/images/logo_time_for_mom.png" alt="logo" width="50px" height="50px" style="" />
                </div>
                <div class="links-header">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Our Idea</a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Regime Calculator</a>
                 </div>
                <div class="button-position">
                    <button class="button-style-header">
                    @Html.ActionLink("Login", "LoginPage")
                    </button>
                </div>
                 
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Template2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!--script src="~/lib/jquery/dist/jquery.min.js"></!--script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script-- src="~/js/site.js" asp-append-version="true"></script-->
    
</body>
</html>

